body{
  background:#f6f7fa;
}

.s4_h1title{
  color: #0e1a35;
  span{
    color:#a0abc2;
  }
}

.s4_adduser{
  width: 40px;
  height: 40px;
  display: block;
  background-color: #a0abc2;
  &:hover{
    background-color: #0e1a35;
  }
  i{
    color: #fff;
  }
}



.s4_usersearch{
  .s4_sorttitel{
    margin-top: 7px;
    color: #a0abc2;
  }
  select{
    background-color: #f6f7fa;
    padding: 0px 30px;
    border-radius: 20px;
    color: #0e1a35;
    font-weight: bold;
    option{
      color: #0e1a35;


    }
  }
}

.s4_foto_cirkel {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;

}

.s4_foto {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index:2;
}

.s4_no_style:hover, .s4_no_style:active {
  text-decoration: none;
}

.s4_achtergrond_link:hover {
  background-color: #bebebe;
}

.s4_online p, .s4_online i{
  font-weight: bold;
  color:#80e58f;
}
.s4_online_bol1{
  width:10px;
  height:10px;
  left:80px;
  top:28%;
  border-radius:50%;
  background: #80e58f;
  position:absolute;
  z-index:4;
}
.s4_online_bol2{
  width:16px;
  height:16px;
  left:78px;
  top:23%;
  border-radius:50%;
  background: #fff;
  position:absolute;
  z-index:3;
}

.s4_border_kleur{
  border-color:#fefefe;
}
